.root {
    -fx-background-color: #4e8ef7;
}
.label {
    -fx-font-size: 20;
}

.courseButton {
    -fx-background-image: url('../images/course_button.png') ;
    -fx-background-size: 300px 200px;
    -fx-background-color: #4e8ef7, transparent;
}

.hyperlink {
    -fx-text-fill: #000000;
}

.gridpane {
    -fx-background-color: aqua;
}
