.root {
    -fx-background-color: #4e8ef7;
}
.label {
    -fx-font-size: 20;
}

.pizzaButton {
    -fx-graphic: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');
    -fx-background-color: #4e8ef7, transparent;
}
